.main {
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: #dae3e5;
  position: relative;
  top: 200px;
  left: 600px;
  display: grid;
}

.name {
  color: #507dbc;
  margin-bottom: 10px;
  font-weight: bold;
}

.descreption {
  position: relative;
  margin-bottom: 10px;
}

.price {
}

.size {
}
button {
  position: relative;
  left: 0px;
}
/* .small {
  margin-right: 15px;
}

.medium {
  margin-right: 15px;
}

.large {
  margin-right: 15px;
} */
